.description {
	margin-top: 15x;
	margin-left: -50px;
	border-radius: 25px;
	background-color: #FFFFFF22;
	max-width: 650px;
	min-height: 650px;
}

/*Mobile opptimization*/
@media screen and (max-width: 1080px) {
	/*.description {
		margin-top: 45px;
		margin-left: -50px;
		border-radius: 25px;
		background-color: #FFFFFF22;
		max-width: 900px;
		min-height: 650px;
	}*/

	
}