/* color pallate from https://colorhunt.co/palette/222831393e46948979dfd0b8 */

:root {
	--bg-color: #222831;
	--middle-color: #393E46;
	--txt-col-1: #948979;
	--txt-col-2: #DFD0B8;
}

html, body {
	height: 100%;
}

body {
	background-color: var(--bg-color);
	margin: 0px;
}

a {
	color: #2222dd;
	text-decoration: none;
}

a:hover {
	color: #2222ff;
	text-decoration: underline;
}

p {
	color: var(--txt-col-2);
	font-family: Arial;
}

.stop-scroll {
	overflow: hidden;
}

.navbar {
	display: block;
	overflow: hidden;
}

.navbar-item {
	float: left;
	margin: 10px 20px;
	text-decoration: none;
	transition: 1s ease;
}

.navbar-item:hover {
	text-decoration: underline;
}

.sidebar {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: -100%;
	transition: 1s ease;
	display: grid;
}

.content {
	
}

.dropdown-body {
	position: absolute;
	background-color: var(--middle-color);
	display: grid;
	max-height: 0px;
	transition: 1s ease;
	overflow: hidden;
}

.dropdown-menu:hover .dropdown-body {
	max-height: 10em;
}

.dropdown-menu {
	cursor: pointer;
	text-decoration: none;
	transition: 1s ease;
}

.dropdown-menu:hover {
	text-decoration: underline;
}

.dropdown-item {
	text-decoration: none;
}

.dropdown-item:hover {
	text-decoration: underline;
}
