body
{
	margin: 0;
	background-color: #222;
}

.footer
{
	padding: 0;
	margin: 0;
	position: fixed;
	bottom: 0;
	height: 15vh;
	width: 100%;
}

.main
{
	min-height: 100vh;
}

.user
{
	float: right;
}

.login
{
	filter: invert(100%);
}

.active
{
	background-color: #04aa6d;
}

.active:hover
{
	background-color: #02884b;
}

.headerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.headerItem {
  float: left;
}

.headerItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 5vh;
}

.headerItem a:hover {
  background-color: #222;
}

.centeredDiv {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.optionGrid {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.optionGridItem {
	margin-top: 10px;
	color: #fff;
}

.optionGridItem a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 5vh;
}

.optionGridItem a:hover {
	background-color: #8080D0;
}

a {
	font-family: Arial;
}

p {
	font-family: Arial;
}
